._11_13{background:url(../imgs/allbgs.png) no-repeat 0px 0px;height:30px;padding-left:40px;}
._11_25{background:url(../imgs/allbgs.png) no-repeat 0px -48px;height:36px;padding-left:44px;}
._11_08{background:url(../imgs/allbgs.png) no-repeat -70px -52px;height:36px;padding-left:38px;}
._11_10{background:url(../imgs/allbgs.png) no-repeat 0px -107px;height:36px;padding-left:40px;}
._1{background:url(../imgs/allbgs.png) no-repeat -70px -5px;height:37px;padding-left:33px;}
._11_05{background:url(../imgs/allbgs.png) no-repeat -68px -101px;height:37px;padding-left:42px;}
._11_22{background:url(../imgs/allbgs.png) no-repeat 0px -166px;height:39px;padding-left:41px;}
._11_20{background:url(../imgs/allbgs.png) no-repeat -67px -162px;height:45px;padding-left:46px;}
